doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)

    // init bootstrap
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')

    // init leaflet
    link(href='//cdn.leafletjs.com/leaflet-0.6.4/leaflet.css', rel='stylesheet')
    script(src='//cdn.leafletjs.com/leaflet-0.6.4/leaflet.js')

    // init google maps with leaflet
    script(src='//maps.google.com/maps/api/js?sensor=true')
    script(src='//matchingnotes.com/javascripts/leaflet-google.js')

    // init leaflet label
    link(href='/css/Icon.Label.css', rel='stylesheet')
    script(src='/js/Icon.Label.js')
    script(src='/js/Icon.Label.Default.js')

    // init d3
    script(src='http://d3js.org/d3.v3.min.js')
    script(src='http://d3js.org/topojson.v1.min.js')

    // init custom settinga
    link(href='/css/mapview.css', rel='stylesheet')
    script(src='/js/mapview.js')

  body(style='padding-top:70px')
    include navbar

    #map
    script init()

    h2#groups 相關團體
    - for (var i = 0; i < groups.length; i=i+3) {
      div.row
        - for (var j = i; j < i+3; j++) {
          if j < groups.length
            div.col-lg-4
              div.panel.panel-default
                div.panel-heading
                  h3= groups[j].title
                div.panel-body
                  p= groups[j].intro
                  a.btn.btn-primary(href='#') View details
        - }
    - }