doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)

    // init bootstrap
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js')

    // init d3
    script(src='//d3js.org/d3.v3.min.js')
    script(src='/js/d3.layout.cloud.js')

    // init custom settinga
    script(src='/js/home.js')

  body(style='padding-top:70px')
    include navbar

    script initMap()
