extends layout

block category-title
  div.page-header
    h1= category.title

block content
  #lawsuits.panel-group
  each lawsuit in lawsuits
    p
      a(href="/lawsuits/"+lawsuit.title)= lawsuit.title