doctype 5
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width', initial-scale=1.0)
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/eCourt.default.css')
    link(rel='stylesheet', href='/css/body.css')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js')
    script(src='/js/list-query-handle.js')

  body
    div.row
      div.col-md-12
        div.row
          div.col-md-2
            a(href="/")
              img(src='/img/eCourt-logo.png')
          div.col-md-5
            h1#category-header Home
          div.col-md-3
            form.search(method='get', action='/search', id='search', style='margin-top:23%')
              input(name='q', type='text', size='40', placeholder='關鍵字搜尋社會議題')
          div.col-md-2
            button.btn.btn-primary.btn-lg(style='margin-top:30%') 地圖模式
        div.row
          div.col-md-2
            div.nav.nav-pills.nav-stacked
              each category in categories
                li
                  button.btn.category-button(id=category.title, onclick='queryCategory("'+category.title+'")')= category.title
          div.col-md-10
            ul.nav.nav-tabs
              each support in ['團體', '法律', '判決', '行動']
                li
                  //a(href="", data-toggle="tab", style='font-size:2em', onclick='test()')= support
                  button.btn.btn-default(style='color:darkblue;border:none;font-size:2em;', onclick='querySubject("'+support+'")')= support
            div(style="margin:2%")
              div#list-content