extends layout

block content
  link(href='/css/map.css', rel='stylesheet')
  link(href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css', rel='stylesheet')
  script(src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js')
  script(src='/js/mapview.js')

  div.page-header
    h1 MapView
  #map
  script init();