extends layout

block content
  link(href='/css/map.css', rel='stylesheet')
  link(href='/css/MarkerCluster.css', rel='stylesheet')
  link(href='/css/MarkerCluster.Default.css', rel='stylesheet')
  link(href='/css/Icon.Label.css', rel='stylesheet')
  link(href='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css', rel='stylesheet')

  script(src='http://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.js')
  script(src='/js/leaflet.markercluster.js')
  script(src='/js/Icon.Label.js')
  script(src='/js/Icon.Label.Default.js')

  script(src='http://d3js.org/d3.v3.min.js')
  script(src='http://d3js.org/topojson.v1.min.js')

  script(src='/js/mapview.js')

  div.page-header
    h1 MapView
  div.raw
    div.col-md-9
      #map
    div.col-md-3
      #info
  script init();